<div class="container bg-gradient-primary">

	<!-- Outer Row -->
	<div class="row justify-content-center">

		<div class="col-xl-8 col-lg-8 col-md-7">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row justify-content-center">
						<div class="col-12 col-lg-8">
							<div class="p-5">
								<form class="user">
										<div class="form-group">
											<label class="text-dark"><b>Name</b></label>
											<input type="text" class="form-control form-control-user" placeholder="Enter Name" name="clientName"  [(ngModel)]="client.name" ngModel maxlength="25">
                                        </div>
											<div class="form-group">
												<label class="text-dark"><b>Phone</b></label>
												<input type="text" class="form-control form-control-user" placeholder="Enter Number" name="clientPhone" [(ngModel)]="client.phone" ngModel maxlength="25" >
                                        </div>
                         <div class="row">
												<div class="form-group">
													<button type="submit" class="btn btn-danger" (click)="cancel()" >Cancel</button>
												</div>
												<div class="form-group">
													<button type="submit" class="btn btn-primary" (click)="save()">Save</button>
												</div>
                        </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>