    <div class="container bg-gradient-primary">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-8 col-lg-8 col-md-7">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-5">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
        <!-- Login form creation starts-->
        <section class="container-fluid">
            <!-- row and justify-content-center class is used to place the form in center -->
            <section class="row justify-content-center">
                <section class="col-12 col-lg-6">
                    <form class="form-container">
                       <div class="form-row">
									<div class="form-group">
										<label class="text-dark"><b>Name</b></label>
										<input type="text" class="form-control" placeholder="Enter Name" name="clientName"  [(ngModel)]="client.name">
                                        </div>
										<div class="form-group">
											<label class="text-dark"><b>Phone</b></label>
											<input type="text" class="form-control" placeholder="Enter Number" name="clientPhone" [(ngModel)]="client.phone" >
                                        </div>
                        <div class="form-group">
												<button type="submit" class="btn btn-danger" (click)="cancel()" >Cancel</button>
                        </div>
                        <div class="form-group">
												<button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                        </div>
											</div>
                    </form>
                </section>
            </section>
        </section>

  </div>
</div>
  </div>
</div>
        </div>
         </div>
