
    <div class="header">
        <h1 style="padding: 12px 12px 12px 12px; text-align: center; background: blue; color: white; font-size: 50px;border:groove 1px black">Charts</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 chart;" , style="        border: groove 1px;margin: 4px 0px 4px 0px">
                <canvas id="myChart1" width="500" height="400"></canvas>
            </div>
            <div class="col-6 chart" , style="        border: groove 1px;margin: 4px 0px 4px 0px">
                <canvas id="myChart2" width="500" height="400"></canvas>
            </div>
            <div class="col-6 chart" , style="        border: groove 1px;margin: 4px 0px 4px 0px">
                <canvas id="myChart3" width="500" height="400"></canvas>
            </div>
            <div class="col-6 chart" , style=" border: groove 1px; margin:4px 0px 4px 0px">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </div>

