<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <i class="fa fa-gg" aria-hidden="true"></i><a class="navbar-brand" href="/">KhataXpense</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-white" [routerLink]='["/"]'>Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-white" [routerLink]='["/login"]'>Login </a>
        </li>
         <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-white" [routerLink]='["/signup"]'>Signup</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
