<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3'>
    <i class="fa fa-gg" aria-hidden="true"></i><a class="navbar-brand"(click)="homeclick()" *ngIf="us.admin.isAuthenticate">{{us.admin.name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-white" (click)="homeclick()">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'  *ngIf="!us.admin.isAuthenticate" >
          <a class="nav-link text-white" (click)="signin()" >Login </a>
        </li>
         <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="us.admin.isAuthenticate" >
          <a class="nav-link text-white" (click)="signout()">Logout </a>
        </li>
         <li class="nav-item"  [routerLink]='["/signup"]'>
          <a class="nav-link text-white" *ngIf="!us.admin.isAuthenticate">Signup</a>
        </li>
         <li class="nav-item" [routerLink]='["/clientlist"]'>
          <a class="nav-link text-white" *ngIf="us.admin.isAuthenticate" >Client List</a>
        </li>
         <li class="nav-item" [routerLink]='["/userlist"]' *ngIf = "visibleclientlist">
          <a class="nav-link text-white" >User List</a>
        </li>
        <!-- <li class="nav-item" [routerLink]='["/test"]'>
          <a class="nav-link text-white" >Test</a>
        </li>        -->
      </ul>
    </div>
  </nav>
</header>
