  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  
    <nav class="navbar navbar-light bg-light navbar-expand-md">
            <h1 class="navbar-brand"><i class="fa fa-snowflake-o" aria-hidden="true"></i>KhataXpense</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>

            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                  <div>
                    <li class="nav-item">
                        <a routerLink="home"><span class="glyphicon glyphicon-user"></span>Home</a>
                    </li>
                  </div>
                
                  <div>
                        <li class="nav-item">
                            <a routerLink="signup"><span class="glyphicon glyphicon-user"></span> SignUp</a>
                        </li>
                  </div>
                  <div>
                        <li class="nav-item">
                            <a routerLink="login"><span class="glyphicon glyphicon-user"></span> Login</a>
                        </li>
                  </div>                 
                </ul>
            </div>
        </nav>
