<section class="bg-primary">

	<div class="row justify-content-center">
		<div class="col-xl-8 col-lg-8 col-md-7">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-5">
					<div>
            	<div class="form-group ">
										<div class="input-group mb-3">
											<input class="form-control" placeholder="Search users..." name="searchKey" type="text" [(ngModel)]="searchKey" (keyup)="onKey($event)"/>
											<div class="input-group-append">
												<button class="btn btn-primary" type="button" (click)="searchAppUsers()" >Search</button>
											</div>
										</div>
									</div>

						<h1>User List
              <span class="float-right">
                <button type="button" class="btn btn-primary" [routerLink]='["/user"]'style="margin:5px;">Add</button>
                </span>
						</h1>
					</div>
					<p *ngIf="!users"><em>Loading...</em></p>

				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>

							<tr>
								<th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>AccountType</th>
                <th>UserType</th>							
								
							</tr>
						</thead>
						<tbody *ngIf="users">
							<tr *ngFor="let user of users">
								<td>{{ user.id }}</td>
                <td (click)="editUser(user)">{{ user.name }}</td>
                <td (click)="editUser(user)">{{ user.email }}</td>
                <td (click)="editUser(user)">{{ user.phone }}</td>
                <td (click)="editUser(user)">{{ user.accountType }}</td>
                <td (click)="editUser(user)">{{ user.userType }}</td>
                <td>
									<span class="table-remove">
              <button type="button" class="btn btn-danger" (click)="removeUser(user)">Delete</button>
            </span></td>
							</tr>
						</tbody>
					</table>
				</div>
       </div>
			</div>
		</div>
	</div>