<h1>Transactions</h1>
<p *ngIf="!transactions"><em>Loading...</em></p>
<table class='table'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <!-- <th>Name</th> --> 
      <th>Amount</th>
      <th>Type</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="transactions">
    <tr *ngFor="let tran of transactions">
      <td>{{ tran.i }}</td>
       <td>{{tran.date | date:"dd/mm/yyyy HH:mm"}}</td>
      <!-- <td>{{ tran.user.name }}</td>  -->
      <td (click)="edit(tran)">{{ tran.amount }}</td>
      <td>{{ tran.type }}</td>
      <td>{{ tran.description }}</td>
       <td>
       
       <span class="table-remove">
              <button type="button" class="btn btn-danger" (click)="remove(tran)">Remove</button>
            </span></td>
    </tr>
  </tbody>
</table>

