<h1>Transactions</h1>
<p *ngIf="!transactions"><em>Loading...</em></p>
<table class='table'>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody *ngIf="transactions">
    <tr *ngFor="let tran of transactions">
     <td>{{ tran.date }}</td>
      <td>{{ tran.user.name }}</td>
      <td>{{ tran.debit }}</td>
      <td>{{ tran.credit }}</td>
      <td>{{ tran.description }}</td>


    </tr>
  </tbody>
</table>

