<div class="container bg-gradient-primary">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-10 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                    <!-- Nested Row within Card Body -->
                    <div class="row">                       
                        <div class="col-md-6 offset-3">
                            <div class="p-5">
                                <form class="user">
                                    <div class="row">
                                        <div class="form-group col-sm-6 mb-3 mb-sm-3">
                                            <button type="submit" class="btn btn-primary btn-block">Business</button>
                                        </div>
                                        <div class="form-group col-sm-6 mb-3 mb-sm-3">
                                            <button type="submit" class="btn btn-primary btn-block">Personal</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="exampleInputName" aria-describedby="emailHelp" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address/Phone No.">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 mb-3 mb-sm-0 ">
                                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                                        </div>
                                        <div class="form-group col-sm-6 mb-3 mb-sm-0">
                                            <button type="submit" class="btn btn-danger btn-block">Cancel</button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>