
/* set entire body that is webpage */
body {
    padding-top: 14vh;
}
/* set form background colour*/
form {
    background: #fff;
}
/* set padding and size of th form */
.form-container {
    border-radius: 10px;
    padding: 30px;
}

.form-container .form_icon {
    color: lightblue;
    font-size: 100px;
    text-align: center;
}



.text-center{
    color:black;
}