<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>KhataXpense</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

 
</head>
<body   class="bg-gradient-primary">>
   
        <!-- Login form creation starts-->
        <section class="container-fluid">
            <!-- row and justify-content-center class is used to place the form in center -->
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-4">
                    <form class="form-container">
                        <div class="form-group">
                            <div class="form_icon"><i class="fa fa-user-circle"></i></div>
                            <h4 class="text-center font-weight-bold"> Account Manager </h4>

                        </div>
                        <div class="form-group">
                            <hr />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">SignIn</button>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        <hr />
                        <div class="text-center">
                            <footer>Powered by Brolia LLC</footer>
                        </div>
                    </form>
                </section>
            </section>
        </section>
        <!-- Login form creation ends -->          

  </body>
</html >