.form_bg{
    background: linear-gradient(to bottom,#4e73df,#808080);
    height: 100vh;
    display: flex;
    align-items: center;
}

.form_horizontal{
    font-family:'lato',sans-serif;
    text-align: center;
}

.form_horizontal .form_icon{
    color:black;
    font-size: 100px;
}


    .form_horizontal .btn {
        color: rgb(103, 123, 124);
        background-color: lightgrey;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        width: 80%;
        padding: 0 0 15px;
        margin: 0 0 15px 0;
        border: solid;
        border-radius: 20px;
        text-transform: uppercase;
    }

    .form_horizontal .form_control{
        color: chocolate;
        background-color: aquamarine;
        font-size: 13px;
        letter-spacing: 1px;
        height: 37px;
        padding: 2px 15px 2px 35px;
        border: none;
        border-radius: 50px;
    }

    