<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>KhataXpense</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/c390b837e1.css">
 
</head>
<body>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="form_bg">
                <div class="container">
                    <form class="form_horizontal">
                        <div class="form_icon"><i class="fa fa-user-circle"></i></div>
                        <h3 class="title">Account Manager</h3>
                        <button class="btn signin">Sign in</button>
                        <br />
                        <button class="btn register">Register</button>
                        <footer>Powered by Brolia LLC</footer>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html >