<div class="container bg-gradient-primary">

	<!-- Outer Row -->
	<div class="row justify-content-center">

		<div class="col-xl-10 col-lg-10 col-md-9">

			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-5">
					<!-- Nested Row within Card Body -->
					<div class="row justify-content-center">
						<div class="col-12 col-lg-6">
							<div class="p-6">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">New Transaction</h1>
								</div>
								<hr />
							
									<div class="form-group ">
										<div class="input-group mb-3">
											<input class="form-control" placeholder="Search..." name="Search" type="text" />
											<div class="input-group-append">
												<button class="btn btn-primary" type="button">Search</button>
											</div>
										</div>
									</div>

									<div class="form-group text-center">
										<label class="text-Dark"><b>Amount</b></label>
										<div class="row justify-content-center">
											<input type="text" name="Amount" [(ngModel)]="trans.amount" class="form-control" placeholder="Enter Amount...." />
                        </div>
											<button type="submit" class="btn btn-circle bg-primary text-white" (click)="debit()">Debit</button>
											<button type="submit" class="btn btn-circle bg-primary text-white" (click)="credit()">Credit</button>
										</div>
										<div class="form-group text-center">
											<label class="text-dark"><b>Discription</b></label>
											<div class="row justify-content-center">
												<textarea [(ngModel)]="trans. description"  class="form-control" rows="3" placeholder="Optional"></textarea>
											</div>
											<button type="submit" class="btn btn-danger" (click)="cancel()" >Cancel</button>	<form class="user" (submit)="add()" #theForm="ngForm" novalidate>
											<button type="submit" class="btn btn-primary" (click)="add()">Save</button>
                      	</form>
										</div>
                
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
