p {
  font-family: Lato;
}
.header {
  background-color:#4e73df;
  padding: 20px;
  text-align: center;
   color: white;}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 8px 0%;
  text-align: center;
}
#back {
  border: 10px;
  padding: 15px;
  margin: 2px 0%;
  width: 100%;
  background: white;
  background-clip: border-box;  
}
#main {
  width: 100%;
  display: flex;
  align-items: center;
}

.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}

.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}